.Om.GDK.EX {
  background-color: $yellow;
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  h1 {
    color: $blue;
    display: none;
  }
}

.Om.GDK {
  background-color: $blue;
  h1 {
    color: $magenta;
  }
}

.info-box{
  background-color: $blue;
  height: 240px;
  .info-box-content{
    margin:45px 15px 40px 30px;
  h2{
    font-size: 60px;
    color:$yellow;
    margin:5px;
  }
  h4{
    text-transform: uppercase;
    color:$yellow;
    font-size: 30px;
    margin:5px;
  }
}
}
.about-p p:first-child{
  margin-top:0;
}
