.Om.GDK.EX {
  background-color: #f7f7f7;
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  h1 {
    color: $blue;
    display: none;
  }
}

.about-p p {
  line-height: 1.4;
}

.Om.GDK {
  background-color: $blue;
  h1 {
    color: $magenta;
  }
  p {
    line-height: 1.4;
  }
}

.info-box{
  height: 240px;
  .info-box-content{
    margin:45px 15px 40px 30px;
    h1{
      font-size: 60px;
      font-weight: 700;
      line-height: 1;
      margin:0;
      margin-bottom: 7px;
      text-decoration: underline;
    }
    h2{
      margin:0;
      margin-top: 10px;
    }
    i {
      margin-right: 5px;
    }
}
}
.about-p p:first-child{
  margin-top:0;
}
.courses{
  background-color: $yellow;
  background-origin: border-box;
  padding-left: 4%;
  h1{
    padding-top: 30px;
    text-decoration: underline;
    font-size: 70px;
  }
  li{
    font-family: "effra", sans-serif;
    list-style-type: none;
  }
  h2{
    text-transform: uppercase;
    text-decoration: underline;
  }
  #val-text{
    transform: rotate(-90deg) translateY(-210px) translateX(-20px);
  }
  #obli-text{
    transform: rotate(-90deg) translateY(-210px) translateX(-110px);
  }
  #obli{
    transform: translateY(-35px);
  }
}
.gruppen{
  height: 400px;
  width: 100%;
  overflow-x:scroll;
  overflow-y: hidden;
  position: relative;
  background-color: $blue;

}
#dragable{
  height: inherit;;
  width: auto;
}
