.box{
  /*general style for ALL BOXES*/
  position: relative;
}

.header-box{
  /* that big box on the front-page */
  height: 400px !important;
  background-color: red;
  margin-bottom: 20px;
}
.header-box-small{
  /* like that big box on the front-page but on other pages and smaller */
  height:200px;
}

.site-title{
    position: absolute;
    left:20px;
    bottom:20px;
}

.flexbox-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.flexbox-box{
  position: relative;
}
.flexbox-content{

}

#box-1{
  background-color: green;
  height: 300px;
  width: 33%;
  order:1;
  flex-grow: 2;
  margin-right: 20px;
  margin-bottom: 20px;

}
#box-2{
  background-color: blue;
  height: 300px;
  width: 33%;
  order:2;
  flex-grow: 3;
  margin-bottom: 20px;

}
#box-3{
  background-color: yellow;
  height: 300px;
  order:3;
  width: 33%;
  flex-grow: 1;
  margin-right: 20px;
}
#box-4{
  background-color: orange;
  order:4;
  width: 33%;
  height: 620px;
}
#box-5{
  background-color: pink;
  height: 300px;
  order:5;
  width: 33%;
  margin-right: 20px;
  transform: translateY(-300px);
}
#box-6{
  background-color: purple;
  height: 300px;
  order:6;
  width: 30%;
  margin-right: 20px;
  transform: translate(-386px, -300px);
}

#box-1-content{
  position: absolute;
  left:20px;
  bottom:20px;
}
.columns{
  height: 300px;
  border: red 1px solid;
  margin-bottom: 40px;
}


#box3{
  margin-left: 0;
}
#box4{
  height:620px;
}
#box5{
  margin-left: 0;
}
#box7{
  margin-left: 0;
}
#box5, #box6, #box7, #box8 {
  transform: translateY(-340px);
}
.main-nav{
  border:none;
  height: 0;
}
