.box{
  /*general style for ALL BOXES, not headers*/
  position: relative;
  height: 300px;
  margin-bottom: 40px;
}
.row{
  margin-top: 30px;
}

.main-nav{
  position: relative;
  height: 200px;
  margin-bottom: 50px;
  padding-top: 30px;

}

#pattern{
  position: absolute;
  top:0;
  right:0;
  width:25%;
  z-index: -1;
}

.header-box{
  /* that big box on the front-page */
  height: 400px !important;
  margin-top: 50px;
  margin-bottom: 40px;
  background-image: url(img/header.jpg);
  background-size: cover;
  background-position: center center;

.site-title{
  position: absolute;
  right:45px;
  bottom:35px;
  text-align: right;
  color:$yellow;
  text-decoration: underline;
  h1{
  font-size: 120px;
  line-height: 1.1;
  margin: 0;
  }
  h3{
    text-transform: uppercase;
    margin: 0;
    padding-left: 4px;
  }
}

}
.header-box-small{
  /* like that big box on the front-page but on other pages and smaller */
  display: table;
  position: relative;
  margin-bottom: 40px;
  margin-top: 50px;
}
.page-title{
  text-align: center;
  padding:30px 25px 30px 25px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 90px;
}

.site-title{
    position: absolute;
    left:20px;
    bottom:20px;
}
.site-info{
  position: absolute;
  left:20px;
  top:70px;
  h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    margin:0;
    margin-bottom: 7px;
    text-decoration: underline;
  }
  h2{
    margin:0;
    margin-top: 15px;
  }
  i {
    margin-right: 5px;
  }
}

#no-lecurer{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  color:white;
}

#box1{

}
#box2{
  background-color: $magenta;

}
#box3{
  margin-left: 0;
  a button{

  }
}
.next-event{
  padding:10%;
  padding-left: 40px;
}
#box4{
  height:640px;
  position: relative;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
#box5{
  margin-left: 0;
  background-color: $magenta;
  .box-content{
    text-align: center;
    position: absolute;
    display: table;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
  h1{
    color: white;
  }
}
.graduate-name-front{
  position:absolute;
  bottom:20px;
  left:30px;
  background-color: $magenta;
  color:$white;
  width:60%;
  h1{
    padding:0 10px;
    line-height: 1;
  }
}

#graduate-btn{
  position: absolute;
  bottom:20px;
  left:inherit;
  right:30px;
}

#examensklassen-shadow{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  opacity: 0.4;
}

#box6{
  position: relative;
  .box-content{
    text-align: center;
    position: absolute;
    display: table;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $yellow;
  }
  background-image: url(img/pattern2.svg);
  background-position: top -10px center;
  background-repeat: no-repeat;
  background-size: cover;
}

#box7{
  margin-left: 0;
  position: relative;
  .box-content{
    text-align: center;
    position: absolute;
    display: table;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $blue;
  }
  background-image: url(img/pattern3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#box8{
  background-color: $pink;
  position: relative;
.box-content{
  text-align: center;
  position: absolute;
  display: table;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 }
}
#box5, #box6, #box7, #box8, footer {
  transform: translateY(-340px);
}
.main-nav{
  border:none;
  height: 0;
}
footer{
  position: relative;
}
footer, .footer, .real-footer{
  padding-top: 10px;
  border-top:#343333 1px solid;
  margin:20px 0px 30px 0px;
}
.real-footer h4, .real-footer h6{
  margin:0;
}
.real-footer h4{
  padding-top: 12px;
}

.footer-icons {
  float: right;
}

.footer-icons i {
  margin-top: 10px;
  padding: 7px 10px 7px 10px;
  margin-right: 5px;
  border: $magenta 2px solid;
  color: $magenta;
  transition: all 0.3s;
}

.footer-icons i:hover{
  background-color: $magenta;
  color:$white;
  transition: all 0.3s;
}

.sponsors .tow:first-child{
  margin-left: 0;
}
.box-content{
  background-clip: padding-box;
  padding:20px 30px 20px 30px;
}


#box3 #startpage .mptt-shortcode-list .mptt-column .mptt-column-title{
  display:none;
}
#box3 #startpage .mptt-shortcode-list .mptt-column{
  width:100%;
  margin-left: 0;
}

#box3 #startpage .mptt-shortcode-list .mptt-column .mptt-events-list{
  height:60px;
  -webkit-margin-before:0;
  -webkit-padding-start: 0px;
}
.next-event h4{
  -webkit-margin-before:0px;
}
#box3 #startpage .mptt-shortcode-list .mptt-column .mptt-events-list .mptt-list-event{
  display: table;
  border-left: none;
  padding-left: 0;
}
#box3 #startpage .mptt-shortcode-list .mptt-column .mptt-events-list .mptt-list-event a, #box3 #startpage .mptt-shortcode-list .mptt-column .mptt-events-list .mptt-list-event p{
  padding-left: 0;
}
#box3 #startpage .mptt-shortcode-list .mptt-column .mptt-events-list .mptt-list-event{
  font-family: "effra", Helvetica, sans-serif;
  font-size: 45px;
  line-height: 1;
  font-weight: bolder;
}
.timeslot{
  font-size:20px;
}
#box3 #startpage .mptt-shortcode-list .mptt-column .mptt-events-list .mptt-list-event p{
  opacity: 0.8;
  -webkit-margin-before: 0.5em;
  padding-left: 3px;
}
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
