
/**
 * Component: Button
 * --------------------------------------------------
 */

.c-button {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 0;
  vertical-align: middle;
  overflow: visible;
  color: #fff;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  user-select: none;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
}

/**
 * Mixin: Button Modifier
 * --------------------------------------------------
 */

@mixin button-modifier($color, $class) {
  .c-button--#{$class} {
    background: $color;
    &:hover {
      background: darken($color, 5%);
    }
  }
};


@include button-modifier(#967ADC, purple);

@include button-modifier(#4A89DC, blue);

@include button-modifier(#E9573F, red);

.c-button--custom{
  background: transparent;
  border:white 2px solid;
  &:hover{
    border-color: darken(#fff, 10%);
    color: darken(#fff, 10%)
  }
}

/**
 * Utility: Ripple
 * --------------------------------------------------
 */

.c-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.c-ripple__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, .25);
  .c-ripple.is-active & {
    animation: a-ripple .4s ease-in;
  }
}

/**
 * Animation: Ripple
 * --------------------------------------------------
 */

@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
