body{
  background-color: $body-background;
}

.blue{
  background-color: $blue;
}
.yellow{
  background-color: $yellow;
}
.pink {
  background-color: $pink;
}

.blue-text{
  color: $blue;
}
.yellow-text{
  color: $yellow;
}
.pink-text{
  color: $pink;
}
.white-text{
  color: $white;
}
