.Föreläsare{
  background: rgba(212,228,239,1);
  background: -moz-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
  background: -webkit-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: linear-gradient(135deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
}

.lecturer-box {
  margin-bottom: 20px;
  position: relative;
}

.lecturer-content{
  position: relative;
  height: 300px;
}

.lecturer-img{
height: 280px;
width: auto;
position: absolute;
bottom:0px;
}
.lecturer-info{
  position:absolute;
  top:20%;
}
.lecturer-info-front{
  position:absolute;
  top:5%;
  left:45%;
  h1{
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 0;
    font-weight: lighter;
  }
}


.forelasare-color1{
  background: rgb(246,230,180);
  background: -moz-linear-gradient(left, rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%);
  background: -webkit-linear-gradient(left, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
  background: linear-gradient(to right, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=1 );
}

.forelasare-color2{
  background: rgba(164,179,87,1);
background: -moz-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
background: -webkit-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -o-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: linear-gradient(135deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
}

.forelasare-color3{
  background: rgba(233,219,22,1);
  background: -moz-linear-gradient(-45deg, rgba(233,219,22,1) 0%, rgba(239,148,1,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(233,219,22,1)), color-stop(100%, rgba(239,148,1,1)));
  background: -webkit-linear-gradient(-45deg, rgba(233,219,22,1) 0%, rgba(239,148,1,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(233,219,22,1) 0%, rgba(239,148,1,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(233,219,22,1) 0%, rgba(239,148,1,1) 100%);
  background: linear-gradient(135deg, rgba(233,219,22,1) 0%, rgba(239,148,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9db16', endColorstr='#ef9401', GradientType=1 );
}
.forelasare-color4{
  background: rgb(255,175,75);
background: -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
background: linear-gradient(to right, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=1 );
}
