.Föreläsare{
  background-color: $blue;
  h1{
    color:$pink;
  }
}


.lecturer-box {
  display: table;
  margin-bottom: 20px;
  height: 300px;
  position: relative;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover !important;
}

#no-lecturer {
  text-align: center;
  margin-bottom: 20px;
  height: 300px;
  position: relative;
  background-color: $magenta;
  h1 {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1;
    font-weight: bolder;
    padding:10%;
    color: $white;
  }
}

.lecturer-content{
  display: table;
  padding-bottom: 30px;
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
#joakim-hedstrom{
  background-position: center center;
}


.lecturer-info{
  padding-top: 50px;
  color:$black;
}
.lecturer-info-front{
  padding:10%;
  padding-left: 40px;
  h1{
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1;
    font-weight: bolder;
  }
}
.lecturer-info h5, .lecturer-info-front h5{
    padding:3px 5px 3px 5px;
    background-color:$black;
    color: $white;
    display: table;
}


.forelasare-color1{
  background: $magenta;

}

.forelasare-color2{
  background: $blue;
}
