
@media (max-width: $break-mobile) {

}

@media (max-width: $break-grid) {
  .main-nav .one{
    width: 20%;
  }
  .main-nav .five{
    width: 70%;
    ul{
      margin-left: 0;
      -webkit-margin-before:4px;
    }
  }
  .main-nav{
    padding-top:30px;
  }
  .header-box .site-title{
    text-align: center;
    bottom: inherit;
    top:35px;
  }
  .page-title{
    font-size: 70px;
    word-break: break-all;
  }
  .lecturer-info-front h4, .lecturer-info-front h1, .lecturer-info-front h5{
    -webkit-margin-before:0;
  }
  .lecturer-info-front h1{
    -webkit-margin-after:0;
  }
  .lecturer-box {
    background-image: none !important;
    color:white;
    padding:20px;
  }
  #box4{
    height:325px;
    background-position: top center;
  }
  #box5, #box6, #box7, #box8, footer{
    transform: translateY(0px);
  }
  .mobile-nav-logo{
    width: 22%;
  }
  .mobile-nav{
    width: 74.0%;
    ul{
      -webkit-margin-before: 0;
    }
  }
  .sponsor{
     width: 30.6666666667%;
     float:left;
  }
  .real-footer{
    text-align: center;
    .footer-icons{
      float: none;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
  .EX{
    height: 100px;
    margin-bottom: 0;
  }
  #val-text{transform: rotate(-90deg) translateY(-170px) translateX(-60px)!important; }
  #obli-text{transform: rotate(-90deg) translateY(-170px) translateX(-130px)!important; }
  .category{
    width: 48% !important;
    margin-bottom: 4%;
  }
  .category:nth-child(even){
    margin-left: 4% !important;
  }
}
@media (max-width: 1200px){
  #forklaring{
    font-size: 25px;
  }
}
