/* FONTS */
h1, h2, h3, h4, h5, h6, a{
  font-family: "effra", Helvetica, sans-serif;
  font-weight: 700;
  -webkit-margin-before:3px;
  -webkit-margin-after:7px;
}
p{
  font-family: "effra", Helvetica, sans-serif;
  line-height: 1.2;
}
body{
  font-family: "effra", Helvetica, sans-serif;
}
