/* COLORS */
$body-background: #f7f7f7;

$blue: #282973 ;
$yellow: #ffec00 ;
$pink: #fcd1c2 ;
$magenta: #ed0f68 ;
$black: #000000 ;
$white: #ffffff ;

// ### Break points ###

$break-grid:		960px;
$break-mobile:		480px;
$grid-max-width: 	1170px;

// ### Mixins ###

@mixin vertical-align($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
