/* COLORS */
$body-background: #1e1e1e;


/* FONTS */
h1, h2, h3, h4, h5, h6{
  color:white;
}

$h-font-stack: ;


// ### Break points ###

$break-grid:		960px;
$break-mobile:		480px;
$grid-max-width: 	1170px;
